body{
  padding: 5% 10% 0% 10%;
  border-style: solid;
  border-width: thin;
  background-color: #eee;
  color: #111;
  font-family: 'DejaVu Sans', 'Bitstream Vera Sans',
               'Lucida Grande', 'Arial',
               'Hiragino Maru Gothic Pro', sans-serif;
}
h1{
  font-size: 2em;
  font-family: 'Covered By Your Grace', cursive;
}
h2{
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}
h3{
  font-family: 'Raleway', sans-serif;
}
hr{
  margin: 0 0 2em 0;
}
div{
  margin: 1em;
  line-height: 1.4em;
}
li{
  margin: 0.15em;
  padding-top: 0.3em;
}
img{
  border: 0;
}
a:link{
  color: teal;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: underline;
}
a:visited{
  color: navy;
  text-decoration: none;
}
.proj, .date{
  font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans',
               'Monaco', 'Consolas', 'Lucida Console', monospace;
}
.date{
  padding-right: 1em;
  color: #666;
}
#sig{
  text-align: right;
  margin: 0 0 0 auto;
}
