body{
  padding: 5% 10% 0% 10%;
  border-style: solid;
  border-width: thin;
  background-color: #eee;
  color: #111;
  font-family: 'DejaVu Sans', 'Bitstream Vera Sans',
               'Lucida Grande', 'Arial',
               'Hiragino Maru Gothic Pro', sans-serif;
}
.project-list li > a, .date{
  font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
               'Monaco', 'Consolas', 'Lucida Console', monospace;
}
.project-list li > a,
.project-list li > span {
  display: inline-block;
}
.project-list li > a {
  width: 180px;
}
.project-list li > span {
  width: calc(100% - 180px - 1em);
}
h1{
  font-size: 2em;
  font-family: 'Covered By Your Grace', cursive;
}
h2{
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}
h3{
  font-family: 'Raleway', sans-serif;
}
hr{
  margin: 0 0 2em 0;
}
div{
  margin: 1em;
  line-height: 1.4em;
}
li{
  margin: 0.15em;
  padding-top: 0.3em;
}
.del{
  text-decoration: line-through;
}
img{
  border: 0;
}
a:link{
  color: teal;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: underline;
}
a:visited{
  color: navy;
  text-decoration: none;
}
.title{
  letter-spacing: 0.05em;
}
.date{
  padding-right: 1em;
  color: #666;
}
#sig{
  text-align: right;
  margin: 0 0 0 auto;
}
